<!DOCTYPE html>
<html>
  <head>
    <title>RailsPototypeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcFpWT7vu4mLXbEPmkr5GJDG5jWBI67x0"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
